@model Chaty.Models.AdminData
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatApp/EditProdile</title>
    <link href="~/css/Index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body style="background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;">
    <form style=" width: 80%; display: flex; flex-direction: column; justify-items: center; margin: auto; margin-top: 97px;" method="post" action="/Admin/UpdateAdminData">
        <div class="form-group">
            <label for="OfferTitle">Admin UserName</label>
            <input type="text" class="form-control" id="AdminUserName" value="@Model.UserName" aria-describedby="emailHelp" placeholder="Admin UserName" name="AdminUserName">
        </div>
        <div class="form-group">
            <label for="Money">Admin PassWord</label>
            <input type="text" class="form-control" value="@Model.PassWord" id="PassWord" placeholder="Admin PassWord" name="PassWord">
        </div>
        <div class="form-group">
            <label for="Money">Admin PayPalClientId</label>
            <input type="text" class="form-control" value="@Model.PayPalClientId" id="PayPalClientId" placeholder="PayPal ClientId" name="PayPalClientId">
        </div>
        <div style="margin-left:10px;display:flex;flex-direction:row;justify-content:flex-start">
            <button style="width: 150px;align-self:center" type="submit" class="btn btn-primary">Submit</button>
            <button style="width: 150px;align-self: center" type="button" onclick="window.location.href='/Admin/Index'" class="btn btn-success">Cancel</button>
        </div>
    </form>
    <script src="~/js/site.js"></script>
</body>
</html>