@model IEnumerable<Chaty.Models.ProcessingRequest>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatApp/UserMessage</title>
    <link href="~/css/Index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body style="background: -webkit-linear-gradient(left, #25c481, #25b7c4);
background: linear-gradient(to right, #25c481, #25b7c4);
font-family: 'Roboto', sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="    position: fixed;
    width: 100%;
    background-color: transparent !important;">
        <a style="font-size: 28px;" class="navbar-brand" href="#">Chaty</a>
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
        <div class="wrapper">
            <ul>
                <li><a href="/Admin/Index">Admin</a></li>
                <li><a href="/Admin/AdminData">AdminData</a></li>
                <li><a href="/Admin/ShowOffers">ShowOffers</a></li>
                <li><a href="/Admin/AddNewOffer">AddNewOffer</a></li>
                <li><a href="/Admin/ShowProcessingRequest">ProcessingRequests</a></li>
                <li><a href="/Admin/ShowClientContacts">ShowComments</a></li>
                <li><a href="/Home/Index">LogOut</a></li>
            </ul>
        </div>
    </nav>
    <div class="PersonAvatar">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" />
        <p>Admin</p>
    </div>
    <h2 style="margin: auto; color: #fff;">ProcessingRequests</h2>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th></th>
                </tr>

            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ClientId</td>
                        <td>@item.OfferId</td>
                        <td>@item.RequestTime</td>
                        <td>
                            <button onclick="window.location.href = '/Admin/AcceptProcessingRequest?Id=@item.ClientId'" class="btn btn-success">Accept</button>
                            <button onclick="window.location.href = '/Admin/RejectProcessingRequest?Id=@item.ClientId'" class="btn btn-danger">Reject</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>